<footer role="contentinfo">
<data class="u-url" href="{{ "/" | relative_url }}"></data>
<a id="gitbtn" title="Hecho en GitHub" aria-label="Todas las páginas del sitio" href="{{ "/sitemap" | relative_url }}" style="background-image:url('{{ site.baseurl }}{% link /assets/github.svg %}')"></a>
<p id="credit">Diseñado por <a href="/trayectoria" aria-label="Reconocimientos y Constancias"><b style="font-weight:800">Ricardo Herrera</b></a><br>Con tecnologías <abbr title="HyperText Markup Language">HTML</abbr> y <abbr title="Cascading StyleSheets">CSS</abbr></p>

<!-- Social Network -->
{% include socialstyle.html %}
<div id="socialbar" aria-label="redes sociales">
  {%- for link in site.data.social %}
  <a title="{{ link.network }}" href="https://{{ link.url }}" target="_blank">{{ link.x }}</a>
  {%- endfor %}
</div>
</footer>