<footer role="contentinfo">
<data class="u-url" href="{{ "/" | relative_url }}"></data>
<a id="gitbtn" title="Hecho en GitHub" aria-label="Todas las páginas del sitio" href="{{ "/sitemap" | relative_url }}" style="background-image:url('{{ "/assets/github.svg" | relative_url }}')"></a>
<p id="credit">Diseñado por <a href="/trayectoria" aria-label="Reconocimientos y Constancias"><b style="font-weight:800">Ricardo Herrera</b></a><br>Con tecnologías <abbr title="HyperText Markup Language">HTML</abbr> y <abbr title="Cascading StyleSheets">CSS</abbr></p>

<!-- Social Network
<style type="text/css">
@media (pointer: fine) { /* Cursor hover */
	#socialbar a {
	cursor: pointer;
	color: rgba(0,0,0,0);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	}
	
	/* White icons */
	a[title="Facebook"] {background-image: url('{{ "/icons/facebook_white.svg" | relative_url }}')}
	a[title="Instagram"] {background-image: url('{{ "/icons/instagram_white.svg" | relative_url }}')}
	a[title="TikTok"] {background-image: url('{{ "/icons/tiktok_white.svg" | relative_url }}')}
	a[title="Spotify"] {background-image: url('{{ "/icons/spotify_white.svg" | relative_url }}')}
	a[title="YouTube"] {background-image: url('{{ "/icons/ytmusic_white.svg" | relative_url }}')}
	a[title="BandCamp"] {background-image: url('{{ "/icons/bandcamp_white.svg" | relative_url }}')}
	a[title="SoundCloud"] {background-image: url('{{ "/icons/soundcloud_white.svg" | relative_url }}')}
	a[title="Threads"] {background-image: url('{{ "/icons/threads_white.svg" | relative_url }}')}
	a[title="Donaciones"] {background-image: url('{{ "/icons/kofi_white.svg" | relative_url }}')}
	
	/* Color icons */
	a[title="Facebook"]:focus, a[title="Facebook"]:hover
	{background-image: url('{{ "/icons/facebook_color.svg" | relative_url }}')}
	a[title="Instagram"]:focus, a[title="Instagram"]:hover
	{background-image: url('{{ "/icons/instagram_color.svg" | relative_url }}')}
	a[title="TikTok"]:focus, a[title="TikTok"]:hover
	{background-image: url('{{ "/icons/tiktok_color.svg" | relative_url }}')}
	a[title="Spotify"]:focus, a[title="Spotify"]:hover
	{background-image: url('{{ "/icons/spotify_color.svg" | relative_url }}')}
	a[title="YouTube"]:focus, a[title="YouTube"]:hover
	{background-image: url('{{ "/icons/ytmusic_color.svg" | relative_url }}')}
	a[title="BandCamp"]:focus, a[title="BandCamp"]:hover
	{background-image: url('{{ "/icons/bandcamp_color.svg" | relative_url }}')}
	a[title="SoundCloud"]:focus, a[title="SoundCloud"]:hover
	{background-image: url('{{ "/icons/soundcloud_color.svg" | relative_url }}')}
	a[title="Threads"]:focus, a[title="Threads"]:hover
	{background-image: url('{{ "/icons/threads_color.svg" | relative_url }}')}
	a[title="Donaciones"]:focus, a[title="Donaciones"]:hover
	{background-image: url('{{ "/icons/kofi_color.svg" | relative_url }}')}
}
</style> -->
<div id="socialbar" aria-label="redes sociales">
  {%- for link in site.data.social %}
  <a title="{{ link.network }}" href="https://{{ link.url }}" target="_blank">{{ link.x }}</a>
  {%- endfor %}
</div>
</footer>