<footer class="site-footer h-card" role="contentinfo">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <a id="gitbtn" title="Hecho en GitHub" aria-label="Todas las páginas del sitio" href="/sitemap"></a>
  <p id="credit">Diseñado por <a href="/trayectoria" aria-label="Trayectoria artística, Constancias y Reconocimientos"><b>Ricardo Herrera</b></a><br>Con tecnologías <abbr title="HyperText Markup Language">HTML</abbr> y <abbr title="Cascading StyleSheets">CSS</abbr></p>
  
  <!-- Social Network -->
  <div id="socialbar" aria-label="redes sociales">
    {%- include social.html -%}
  </div>
</footer>