<!-- Site Header -->
<header role="banner">
  <!-- Imagotype -->
  <a href="/" aria-label="Regresar a Página Principal"><img id="avatar" src="https://64.media.tumblr.com/0fe452416531b97c12ff070fca233f6b/b7faee08b5b7ae40-0d/s128x128u_c1/443f99b1297f577aff22d784ea0944e2f8800887.pnj" alt="logotipo" draggable="false"></a>
  <div id="logo">
    <h1 id="title">Ricardo Herrera</h1>
    <h2 id="description">Pianista y Compositor</h2>
  </div>
  <!-- Hamburger -->
  <input type="checkbox" role="switch" id="toggler"/>
  <div id="hamburger" aria-label="abrir y cerrar menu">
    <hr id="hr-up">
    <hr id="hr-md">
    <hr id="hr-dn">
  </div>
  <!-- Main Menu -->
  <nav id="menu" role="navigation">
    <a role="button" {% if page.url == post.url %}class="active" {% endif %}href="/">Inicio</a>
    <a role="button" {% if page.url == post.url %}class="active" {% endif %}href="{{ "/bio" | relative_url }}">Biografía</a>
    <a role="button" {% if page.url == post.url %}class="active" {% endif %}href="{{ "/musica" | relative_url }}"</a>
    <a role="button" {% if page.url == post.url %}class="active" {% endif %}href="{{ "/galeria" | relative_url }}">Galería</a>
    <a role="button" {% if page.url == post.url %}class="active" {% endif %}href="{{ "/video" | relative_url }}">Video</a>
    <a role="button" {% if page.url == post.url %}class="active" {% endif %}href="{{ "/eventos" | relative_url }}">Eventos</a>
    <a role="button" {% if page.url == post.url %}class="active" {% endif %}href="{{ "/contacto" | relative_url }}">Contacto</a>
  </nav>
</header>