<!-- Site Header -->
<header role="banner" {%- if page.shortname -%}id="{{ page.shortname }}"{%- endif -%}>
  <!-- Imagotype -->
  <a href="{{ "/" | relative_url }}" aria-label="Regresar a Página Principal">
    <img id="avatar" src="{{ site.avatar | relative_url }}" alt="logotipo" draggable="false"></a>
  <div id="logo">
    <h1 id="title">Ricardo Herrera</h1>
    <h2 id="description">Pianista y Compositor</h2>
  </div>
  <!-- Hamburger -->
  <input type="checkbox" role="switch" id="toggler"/>
  <div id="hamburger" aria-label="abrir y cerrar menu">
    <hr id="hr-up">
    <hr id="hr-md">
    <hr id="hr-dn">
  </div>
  <!-- Main Menu -->
  <nav id="menu" role="navigation">
    <a role="button" href="{{ "/" | relative_url }}" id="home">Inicio</a>
    <a role="button" href="{{ "/bio" | relative_url }}" id="bio">Biografía</a>
    <a role="button" href="{{ "/musica" | relative_url }}" id="music">Música</a>
    <a role="button" href="{{ "/galeria" | relative_url }}" id="photos">Galería</a>
    <a role="button" href="{{ "/video" | relative_url }}" id="videos">Video</a>
    <a role="button" href="{{ "/eventos" | relative_url }}" id="dates">Eventos</a>
    <a role="button" href="{{ "/contacto" | relative_url }}" id="mail">Contacto</a>
  </nav>
</header>