<a id="fbook" title="Facebook" href="https://www.facebook.com/RicardoHerreraMusica" target="_blank">f</a>
<a id="thrds" title="Threads" href="https://www.threads.net/@ricardoherreramx" target="_blank">h</a>
<a id="igram" title="Instagram" href="https://www.instagram.com/ricardoherreramx" target="_blank">i</a>
<a id="sptfy" title="Spotify" href="https://open.spotify.com/artist/2pzRCEZ38iLXzlwI7cV4rf" target="_blank">s</a>
<a id="ytmsc" title="YouTube Music" href="https://music.youtube.com/channel/UCdiAmXwDXbvQkqYNqgHT23w" target="_blank">m</a>
<a id="tktok" title="TikTok" href="https://www.tiktok.com/@ricardoherreramx" target="_blank" style="margin: 0 -3px">♪</a>
<a id="kofi" title="Donaciones" href="https://www.ko-fi.com/ricardoherreramx" target="_blank">k</a>