<style type="text/css">
@media (pointer: fine) {
  #socialbar a {
	cursor: pointer;
	color: rgba(0,0,0,0);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
  }

/* White icons */
a[title="Facebook"] {background-image: url('{{ site.baseurl }}{% link icons/facebook_white.svg %}')}
a[title="Instagram"] {background-image: url('{{ site.baseurl }}{% link icons/instagram_white.svg %}')}
a[title="TikTok"] {background-image: url('{{ site.baseurl }}{% link icons/tiktok_white.svg %}')}
a[title="Spotify"] {background-image: url('{{ site.baseurl }}{% link icons/spotify_white.svg %}')}
a[title="YouTube"] {background-image: url('{{ site.baseurl }}{% link icons/ytmusic_white.svg %}')}
a[title="BandCamp"] {background-image: url('{{ site.baseurl }}% link icons/bandcamp_white.svg %}')}
a[title="SoundCloud"] {background-image: url('{{ site.baseurl }}{% link icons/soundcloud_white.svg %}')}
a[title="Threads"] {background-image: url('{{ site.baseurl }}{% link icons/threads_white.svg %}')}
a[title="Donaciones"] {background-image: url('{{ site.baseurl }}{% link icons/kofi_white.svg %}')}

/* Color icons */
a[title="Facebook"]:focus, a[title="Facebook"]:hover
{background-image: url('{{ site.baseurl }}{% link icons/facebook_color.svg %}')}
a[title="Instagram"]:focus, a[title="Instagram"]:hover
{background-image: url('{{ site.baseurl }}{% link icons/instagram_color.svg %}')}
a[title="TikTok"]:focus, a[title="TikTok"]:hover
{background-image: url('{{ site.baseurl }}{% link icons/tiktok_color.svg %}')}
a[title="Spotify"]:focus, a[title="Spotify"]:hover
{background-image: url('{{ site.baseurl }}{% link icons/spotify_color.svg %}')}
a[title="YouTube"]:focus, a[title="YouTube"]:hover
{background-image: url('{{ site.baseurl }}{% link icons/ytmusic_color.svg %}')}
a[title="BandCamp"]:focus, a[title="BandCamp"]:hover
{background-image: url('{{ site.baseurl }}{% link icons/bandcamp_color.svg %}')}
a[title="SoundCloud"]:focus, a[title="SoundCloud"]:hover
{background-image: url('{{ site.baseurl }}{% link icons/soundcloud_color.svg %}')}
a[title="Threads"]:focus, a[title="Threads"]:hover
{background-image: url('{{ site.baseurl }}{% link icons/threads_color.svg %}')}
a[title="Donaciones"]:focus, a[title="Donaciones"]:hover
{background-image: url('{{ site.baseurl }}{% link icons/kofi_color.svg %}')}
}
</style>