---
layout: base
---
<style>
@charset "utf-8";

@font-face {
	font-family: 'Nexa';
	font-weight: bold;
  font-display: swap;
	src:url('{{ "/fonts/nexabold.otf" | relative_url }}') format('opentype');
}

@media all { /* General */ 
	
  header#home a#home {
  border-color: #D2AA3C;
  background: #D2AA3C;
  color: #0C0C0C;
  pointer-events: none;
  }
	
	html {height: -webkit-fill-available}
	main.home {padding: 0; gap: 0}
	
	section.welcome {
	background-repeat: no-repeat;
	background-color: black;
	height: 100vh;
	width: 100vw;
	}
	
	section.explore {
	z-index: 1;
	display: flex;
	flex-wrap: nowrap;
	}
	
	footer {z-index: 1}
	
	#homediv {
	font-family: 'Nexa';
	position: absolute;
	display: flex;
	top: 0px;
	flex-direction: column;
	justify-content: center;
	}
	
	#homediv h1 {
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 60pt;
	}
	
	#homediv h2 {
	font-weight: bold;
	font-size: 16pt;
	}
	
	#homediv a:hover {text-decoration: none}
	#horzdiv {display: none}
	
	#call2action {
	margin-top: 10px;
	display: flex;
	gap: 4px;
	}
	
	#call2action a {
	display: block;
	text-align: center;
	border-style: solid;
	border-width: 1.5px;
	text-transform: uppercase;
	}
	
	#call2disc {
	font-family: 'Cavana';
	font-weight: bold;
	padding: 10pt;
	}
	
	#call2play svg {
	position: relative;
	height: 20px;
	width: 18px;
	top: 50%;
	transform: translateY(-50%);
	}
	
	#call2play polygon {
	fill: transparent;
	stroke-width: 1.5;
	stroke: darkgray;
	}
	
}

@media screen { /* Digital */ 
	
	#horzdiv {
	border-bottom: 2px solid #eee;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	padding-bottom: 18px;
	position: absolute;
	font-weight: bold;
	font-size: 18px;
	display: block;
	color: #eee;
	}
	
	#horzdiv span {
	color: #eee;
	text-transform: none;
	font-family: 'Social';
	font-weight: lighter;
	margin-right: 5px;
	font-size: 18px;
	float: left;
	}
	
	#horzdiv ul {
	list-style: none;
	display: flex;
	gap: 25px;
	}
	
	#horzdiv::after {
	position: absolute;
	bottom: -24px;
	content: '•';
	font-size: 45px;
	font-family: 'Nexa';
	}
	
}

@media (orientation:portrait) { /* Vertical */ 
	
	#horzdiv {display: none}
	main.home {padding-top: 0}
	section.explore {flex-direction: column}
	
	section.welcome {
	background-position: center bottom;
	background-size: 125vh;
	}
	
	#homediv {
	align-items: center;
	text-align: center;
	margin-top: 80px;
	height: 50vh;
	width: 100%;
	left: 0px;
	}
	
}

@media (orientation:landscape) { /* Horizontal */ 
	
	#horzdiv {display: block}
	main.home {padding-left: 0}
	section.explore {flex-direction: row}
	
	article li.event,
	article li.event:last-child
	{border-right: 1px solid #555; border-image: none}
	article li.event:first-child {border-left: 1px solid #555}
	article li.event div.place {height: 94%}
	a.door, a.reel {min-width: none}
	
	section.welcome {
	background-position: right center;
	background-attachment: fixed;
	background-size: cover;
	}
	
	#homediv {
	align-items: flex-end;
	width: fit-content;
	text-align: right;
	height: 100%;
	right: 5%;
	}
	
}

@media (min-width:1111px) { /* Desktop */ 
    
	section.explore {gap: 40px}
	#homediv {gap: 15px}
	#call2action a {height: 48px}
	#call2play {width: 48px}
	
	#call2disc {
	width: 180px;
	font-size: 20px;
	}
	
	#horzdiv {
	bottom: 90px;
	left: 40px;
	}
	
	#horzdiv > div {display: inline}
	#horzdiv > span {display: none}
	
	@media (orientation: portrait) {
	section.explore {padding: 40px 40px 0}
	#homediv h1 {font-size: 9vw}
	#homediv h2 {font-size: 2.4vw}
	}
	
	@media (orientation: landscape) {
	section.explore {padding: 120px 40px 100px}
	article ul {height: calc(100% - 65px)}
	#homediv h1 {font-size: 10vh}
	#homediv h2 {font-size: 3vh}
	}
	
}

@media (max-width: 1110px), (max-height: 670px) { /* Tablet */ 
	
	section.explore {gap: 30px}
	#homediv {gap: 10px}
	#call2action a {height: 45px}
	#call2play {width: 45px}
	
	#call2disc {
	width: 160px;
	font-size: 14pt;
	}
	
	#horzdiv {
	bottom: 75px;
	left: 30px;
	}
	
	#horzdiv > ul {display: none}
	#horzdiv > div {display: none}
	
	@media (orientation: portrait) {
	section.explore {padding: 30px 30px 0}
	#homediv h1 {font-size: 11vw}
	#homediv h2 {font-size: 3.2vw}
	}
	
	@media (orientation: landscape) {
	section.explore {padding: 100px 30px 80px}
	article ul {height: calc(100% - 56px)}
	#homediv > span {display: block}
	#homediv h1 {font-size: 11vh}
	#homediv h2 {font-size: 3.2vh}
	}
	
}

@media (max-width: 500px), (max-height: 480px) { /* Smartphone */ 
	
	section.explore {gap: 20px}
	#homediv {gap: 7.5px}
	#call2action a {height: 40px}
	#call2play {width: 40px}
	
	#call2disc {
	width: 136px;
	font-size: 12pt;
	padding: 12px;
	}
	
	#horzdiv {
	bottom: 50px;
	left: 20px;
	}
	
	#horzdiv > ul {display: none}
	#horzdiv > div {display: none}
	
	@media (orientation: portrait) {
	section.explore {padding: 20px 20px 0}
	#homediv h1 {font-size: 13vw}
	#homediv h2 {font-size: 4vw}
	}
	
	@media (orientation: landscape) {
	section.explore {padding: 76px 20px 46px}
	article ul {height: calc(100% - 50px)}
	#homediv > span {display: block}
	#homediv h1 {font-size: 14vh}
	#homediv h2 {font-size: 4vh}
	}
	
}
</style>

{{ content }}

{% if site.paginate %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{%- if posts.size > 0 -%}
  {%- if page.list_title -%}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
  {%- endif -%}
  <ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in posts -%}
    <li>
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
      {%- endif -%}
    </li>
  {%- endfor -%}
  </ul>

  {% if site.paginate %}
    <div class="pager">
      <ul class="pagination">
      {%- if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
      {%- else %}
        <li><div class="pager-edge">•</div></li>
      {%- endif %}
        <li><div class="current-page">{{ paginator.page }}</div></li>
      {%- if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
      {%- else %}
        <li><div class="pager-edge">•</div></li>
      {%- endif %}
      </ul>
    </div>
  {%- endif %}

{%- endif -%}
