@charset "utf-8";

@media all { /* GENERAL */ 
	
	/* Gallery Display */
	
	figure.door {
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	}
	
	div.tracks {border: none}
	
}

@media screen { /* DIGITAL TRANSITION */ 
	
	a.button {transition: 0.3s}
	figure.reel {transition: 0.8s ease}
	a:focus > figure.reel {
		border-color: white;
		opacity: 0.4;
	}
	@media (pointer: fine) { /* Cursor Hover */ 
		
		main > a:hover {text-decoration: none}
		a:hover * {color: var(--color-accent)}
		a:hover > figure.reel {
			border-color: white;
			opacity: 0.4;
		}
		
	}
	
	@media (prefers-reduced-motion: no-preference) { /* Animations */ 
		
    @media (orientation: portrait) {a:focus > figure.reel {background-size: 115% auto}}
    @media (orientation: landscape) {a:focus > figure.reel {background-size: auto 115%}}

		@media (pointer: fine) { /* Cursor Hover */ 
			
			figure.reel::before {display: none}
			@media (orientation: portrait) {a:hover > figure.reel {background-size: 115% auto}}
			@media (orientation: landscape) {a:hover > figure.reel {background-size: auto 115%}}
			
		}
	}
}

@media (orientation: portrait) { /* VERTICAL */ 
	
	figure.door {
	width: 100%;
	height: auto;
	background-size: 100% auto;
	}
	
	a.film {aspect-ratio: 16/9}
	
	figure.reel::before {
	width: 100%;
	height: 1px;
	content: '';
	display: block;
	position: sticky;
	margin-bottom: -1px;
	background: var(--color-outline);
	}
	
}

@media (orientation: landscape) { /* HORIZONTAL */ 
	
	figure.door {
		aspect-ratio: 1/1;
		background-size: auto 100%;
	}

	a.film {aspect-ratio: 4/3}
	a.book {aspect-ratio: initial}

}

@media (min-width: 1111px) { /* DESKTOP */ 
	
	/* Gallery Display */
	figure.reel {min-width: 465px}
	figure.door {margin-bottom: 15px}
	
	@media (orientation: landscape) { /* Horizontal Desktop */
	figure.door {height: calc(100% - 65px)}
	@-moz-document url-prefix() {figure.door {width: calc(100vh - 285px)}}
	}
	
	@media (orientation: portrait) { /* Vertical Desktop */ 
		
		/* Galleries */
		figure.reel {aspect-ratio: 21/9}
		figure.reel::before {top: 120px}
		
	}
	
}

@media (max-width: 1110px), (max-height: 670px) { /* TABLET */ 
	
	figure.door {margin-bottom: 10px}
	
	@media (orientation: landscape) { /* Horizontal Tablet */ 
	figure.door {height: calc(100% - 56px)}
	@-moz-document url-prefix() {figure.door {width: calc(100vh - 236px)}}
	}
	
	@media (orientation: portrait) { /* Vertical Tablet */ 
    
	  /* Gallery Display */
	  figure.reel {aspect-ratio: 16/9}
	  figure.reel::before {top: 100px}
    
	}
	
	@media (orientation: landscape) { /* Tablet Horizontal */ 
	  figure.reel {min-width: 420px}
	}
	
}

@media (max-width: 500px), (max-height: 480px) { /* SMARTPHONE */ 
	
	figure.door {margin-bottom: 10px}
	
	@media (orientation: portrait) { /* Phone Vertical */ 
	
	/* Gallery Display */
	figure.door {aspect-ratio: 16/9}
	figure.reel::before {top: 76px}
	}
	
	@media (orientation: landscape) { /* Phone Horizontal */ 
		figure.door {height: calc(100% - 50px)}
		@-moz-document url-prefix() {figure.door {width: calc(100vh - 176px)}}
		figure.reel {min-width: 380px}
	}
	
}