@media (pointer: fine) { /* Cursor Hover */ 
#socialbar a {
cursor: pointer;
color: rgba(0,0,0,0);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}

/* White icons */
a[title="Facebook"] {background-image: url('/icons/facebook_white.svg')}
a[title="Instagram"] {background-image: url('/icons/instagram_white.svg')}
a[title="TikTok"] {background-image: url('/icons/tiktok_white.svg')}
a[title="Spotify"] {background-image: url('/icons/spotify_white.svg')}
a[title="YouTube"] {background-image: url('/icons/ytmusic_white.svg')}
a[title="BandCamp"] {background-image: url('/icons/bandcamp_white.svg')}
a[title="SoundCloud"] {background-image: url('/icons/soundcloud_white.svg')}
a[title="Threads"] {background-image: url('/icons/threads_white.svg')}
a[title="Donaciones"] {background-image: url('/icons/kofi_white.svg')}

/* Color icons */
a[title="Facebook"]:is(:focus, :hover) {background-image: url('/icons/facebook_color.svg')}
a[title="Instagram"]:is(:focus, :hover) {background-image: url('/icons/instagram_color.svg')}
a[title="TikTok"]:is(:focus, :hover) {background-image: url('/icons/tiktok_color.svg')}
a[title="Spotify"]:is(:focus, :hover) {background-image: url('/icons/spotify_color.svg')}
a[title="YouTube"]:is(:focus, :hover) {background-image: url('/icons/ytmusic_color.svg')}
a[title="BandCamp"]:is(:focus, :hover) {background-image: url('/icons/bandcamp_color.svg')}
a[title="SoundCloud"]:is(:focus, :hover) {background-image: url('/icons/soundcloud_color.svg')}
a[title="Threads"]:is(:focus, :hover) {background-image: url('/icons/threads_color.svg')}
a[title="Donaciones"]:is(:focus, :hover) {background-image: url('/icons/kofi_color.svg')}
}